<div class="headerx" >
    <div class="container">
        <div class="row relative">
            <div class="col s8 offset-s2  m6 offset-m2 l3">
                <a class="logo " href="{{ url:site }}" style="background-image: url('{{ url:site }}{{ widgets:instance id='2'}}')" title="{{ settings:site_name }}"></a>
            </div>
            <div class="col s12 l9 tRight">
                <nav class="hide-on-med-and-down">
                    <a href="">Inicio </a>
                    <a href="nosotros">Nosotros </a>
                    <a href="products">Productos</a>
                    <a href="news">Noticias</a>
                    <a href="contactenos">Contáctenos </a>
                </nav>
                <ul id="nav-mobile" class="right side-nav tLeft">
                    <ul>
                        <li><a href="">Inicio</a>
                        </li>
                        <li><a href="nosotros">Nosotros</a>
                        </li>
                        <li><a href="servicios">Servicios</a>
                        </li>
                        <li><a href="proyectos">Proyectos</a>
                        </li>
                        <li><a href="galeria_imagenes">Galerias</a>
                        </li>
                        <li> <a href="contactenos">Contáctenos </a>
                        </li>
                    </ul>
                </ul>
                <a class="button-collapse hide-on-large-only" href="#" data-activates="nav-mobile">
                    <i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
</div>