
{{ theme:js file="{{theme:options:jquery}}.min.js" }}
{{ theme:js file="libs/jquery.bxslider.min.js" }}
{{ theme:js file="libs/jquery.fancybox-pack.min.js" }}
{{ theme:js file="libs/jquery.fancybox-thumbs.min.js" }}

{{ theme:js file="libs/easyResponsiveTabs.js" }}
{{ theme:js file="libs/modernizr.custom.97074.js" }}
{{ theme:js file="libs/jquery.scrollTo.min.js" }}
{{ theme:js file="libs/wow.min.js" }}
{{ theme:js file="libs/jquery.easing.min.js" }}
{{ theme:js file="libs/isotope.min.js" }}

{{ theme:js file="libs/materialize.min.js" }}
{{ theme:js file="libs/jquery.scrollTo.min.js" }}





{{ asset:js file="main.js" }}





{{ asset:render }}
{{ template:metadata }}
